<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('../includes/nav.ejs') %>
   <section class="section">
     </div>
     <div class="box">
       
      <h2 class="title is-size-4"><%= signup ? 'Sign Up' : 'Login' %></h2>

      <% if (errorMessage) { %>
        <div class="notification is-danger">
          <p><%= errorMessage %></p>
        </div>
      <% } %>
      <form method="POST" action="/<% if (signup) { %>signup<% } else { %>login<% } %>" >  
        <% if (signup) { %>
          <div class="field">
            <label class="label">User Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input <%= validationErrors.find(e => e.param === 'userName') ? 'is-danger' : '' %>" type="text" placeholder="Enter your User Name" name="userName" required value="<%= signup ? oldInput.userName : '' %>">
              <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">First Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input <%= validationErrors.find(e => e.param === 'firstName') ? 'is-danger' : '' %>" type="text" placeholder="Enter your first name" name="firstName" required value="<%= signup ? oldInput.firstName : '' %>">
              <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Last Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input <%= validationErrors.find(e => e.param === 'lastName') ? 'is-danger' : '' %>" type="text" placeholder="Enter your last name" name="lastName" required value="<%= signup ? oldInput.lastName : '' %>">
              <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <% }  %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
       <div class="field">
         <label class="label">Email</label>
         <div class="control has-icons-left has-icons-right">
           <input class="input <%= validationErrors.find(e => e.param === 'email') ? 'is-danger' : '' %>" type="email" placeholder="Enter your email" name="email" value="<%= signup ? oldInput.email : '' %>" required>
           <span class="icon is-small is-left">
             <i class="fas fa-envelope"></i>
           </span>
         </div>
       </div>
       <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input <%= validationErrors.find(e => e.param === 'password') ? 'is-danger' : '' %>" type="password" placeholder="Enter your password" name="password" value="<%= signup ? oldInput.password : '' %>" required>
            <span class="icon is-small is-left">
                <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <% if (signup) { %>
          <div class="field">
            <label class="label">Repeat Your Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input <%= validationErrors.find(e => e.param === 'matchPassword') ? 'is-danger' : '' %>" type="password" placeholder="Enter your password" name="matchPassword" value="<%= signup ? oldInput.matchPassword : '' %>" required>
              <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
              </span>
            </div>
          </div>
          <% }  %>
       <div class="field is-grouped">
         <div class="control">
           <button class="button is-link"><%= signup ? 'Sign Up' : 'Login' %></button>
           <a class="is-dark" href="/reset">Forgot your password?</a>
         </div>
       </div>
      </form>
  </div>
   </section>

    <%- include('../includes/end.ejs') %>
