<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('../includes/nav.ejs') %>
   <section class="section">
     </div>
     <div class="box">
       
      <h2 class="title is-size-4">Reet Password</h2>

      <% if (errorMessage) { %>
        <div class="notification is-danger">
          <p><%= errorMessage %></p>
        </div>
      <% } %>
      <form method="POST" action="/new-password">  
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input " type="password" placeholder="Enter your new password" name="newPassword" required>
              <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
              </span>
            </div>
          </div>
          <input type="hidden" name="userId" value="<%= userId %>">
          <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
       <div class="field is-grouped">
         <div class="control">
           <button class="button is-link">Update Password</button>
         </div>
       </div>
      </form>
  </div>
   </section>

    <%- include('../includes/end.ejs') %>
