<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
      <%- include('../includes/nav.ejs') %>
   <section class="section">
     </div>
     <div class="box">
       
      <h2 class="title is-size-4">Reet Password</h2>

      <% if (errorMessage) { %>
        <div class="notification is-danger">
          <p><%= errorMessage %></p>
        </div>
      <% } %>
      <form method="POST" action="/reset">  
       <div class="field">
         <label class="label">Email</label>
         <div class="control has-icons-left has-icons-right">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
           <input class="input <%= validationErrors.find(e => e.param === 'email') ? 'is-danger' : '' %>" type="email" placeholder="Enter your email" name="email" required>
           <span class="icon is-small is-left">
             <i class="fas fa-envelope"></i>
           </span>
         </div>
       </div>
       
       <div class="field is-grouped">
         <div class="control">
           <button class="button is-link">Reset</button>
         </div>
       </div>
      </form>
  </div>
   </section>

    <%- include('../includes/end.ejs') %>
