<%- include('../includes/head.ejs') %>
    </head>
  
  <body>
     <%- include('../includes/nav.ejs') %>
     <section class="hero is-small is-primary is-bold">
        <div class="hero-body">
          <div class="container">
              <% if (profilePicture) { %>    
                <figure class="rounded-img-container">
                    <img class="rounded-img" src="/<%= profilePicture %>">
                  </figure>
                <% }  else { %>
                  <figure class="rounded-img-container">
                    <img class="rounded-img" src="/images/defaut-profile-picture.svg">
                  </figure>
                  <% } %>
               
          
              <h1 class="title" id="user-fullName">
                  <%= firstName %> <%= lastName %>
                </h1>
                <h2 class="subtitle" id="user-email">
                    <%= email %>
                  </h2>
          </div>
        </div>
        <div class="hero-foot">
            <div class="tabs is-centered has-background-link">
                <ul>
                  <li class="is-active"><a href="/user-page/<%= userId %>">My Page</a></li>
                  <li><a href="/user-images/<%= pageOwnerId %>">Images</a></li>
                  <li><a href="/user-friends/<%= userId %>">Friends</a></li>
                </ul>
              </div>
        </div>
      </section>
   <section class="section columns">
      
    <div class="column is-half">
        <% if (!autorized) { %>   
          <div class="box column is-8">
              <button class="button is-primary" id="friend-request-button" data-user-id="<%= pageOwnerId %>">
                  <span class="icon">
                      <i class="fas fa-user"></i>
                  </span>
                  <span>Add Friend</span>
                </button>
          </div>
                <% }  %>
        <% if (autorized) { %>    
          <div class="box is-size-8">
            

<div class="dropdown " id="friend-requests-dropdown"> 
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" >
        <span>Friend Requests</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
          <% for (let friendRequest of friendRequests) { %>
            <div class="dropdown-item">
                <p class="title is-size-4 has-text-centered"><%= friendRequest.senderUsername%></p>
                <form method="POST" action="/accept-friend-request/<%= friendRequest.sender %>" >
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="button accept-request-btn" data-sender-id="friendRequest.sender">Accept</button>
                </form>
                <form method="POST" action="/deny-friend-request/<%= friendRequest.sender %>">
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <button class="button deny-request-btn" data-sender-id="friendRequest.sender">Deny</button>
                </form>
            </div>
            <% }  %> 
      </div>
    </div>
  </div>
              
          </div>
          <div class="box column is-8">
              <form  method="POST" enctype="multipart/form-data" id="form-profile-picture" action="/user-page/<%= pageOwnerId %>"">
                <% if (errorMessage) { %>
                  <div class="notification is-danger">
                    <p><%= errorMessage %></p>
                  </div>
                <% }  %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="field ">
                      <div class="file has-name is-primary">
                          <label class="file-label">
                            <input class="file-input" type="file" name="image" required>
                            <span class="file-cta">
                              <span class="file-icon">
                                <i class="fas fa-upload"></i>
                              </span>
                              <span class="file-label">
                                Choose a file…
                              </span>
                            </span>
                            <span class="file-name">
                             Change your profile picture
                            </span>
                          </label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control ">
                            <button  class="button is-primary">Change</button>
                          </div>
                    </div>
              </form>
            </div>
          <% }  %>

      <div class="columns is-multiline">
        
      </div>
     </div>
<div class="column is-half">
  <div class="columns is-multiline">
    <% if (autorized) { %>    
      <div class="box column is-full">
          <form id="post-form">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <div class="field">
                  <label class="label">Title</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Text input" 
                    required name="title">
                  </div>
                </div>
      
                <div class="field">
                  <label class="label">Post</label>
                  <div class="control">
                    <textarea class="textarea" placeholder="Textarea" required name="postContent"></textarea>
                  </div>
                </div>
  
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="question">
                      Yes
                    </label>
                    <label class="radio">
                      <input type="radio" name="question">
                      No
                    </label>
                  </div>
                </div>
                
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Submit</button>
                  </div>
                  <div class="control">
                    <button class="button is-text">Cancel</button>
                  </div>
                </div>
            </div>
          </form> 
  </div>
                <% }  %>
    

  <div class="column is-full columns is-multiline is-centered" id="posts-container">
      <% for (let post of posts) { %>
   
            <div class="box  column is-full" id="post-<%= post._id %>">
                <article class="media" >
                    <figure class="media-left">
                        <% if (profilePicture) { %>    
                          <figure class="rounded-img-container rounded-img-container--small">
                              <img class="rounded-img" src="/<%= profilePicture %>">
                            </figure>
                          <% }  else { %>
                            <span class="icon  is-large">
                                <i class="fas fa-user-circle"></i>
                              </span>
                            <% } %>
                    </figure>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong class="title is-size-6"> <%= firstName %>  <%= lastName %></strong> 
                          <br>
                          <strong id="title-<%= post._id %>"><%= post.title %></strong>
                          <br>
                          <p id="content-<%= post._id %>"> <%= post.postContent %></p>
                        </p>
                      </div>
                      <nav class="level is-mobile">
                        <div class="level-left">
                          
                        <% if (autorized) { %>    
                          <a href="#" class="level-item">Save</a>
                          <button  data-postId='<%= post._id %>' class="level-item edit-btn">Edit</button>
                          <button data-postId='<%= post._id %>' class="level-item delete-btn">Delete</button>
                          <% }  %>
                                              
                        </div>
                      </nav>
                    </div>
                  </article>
            </div>

        <% }  %> 
  </div>
  </div>
    </div>  
     </div>      
   </section>
  

   

    <%- include('../includes/end.ejs') %>



 